/**
 * Dark Forum Theme for Discord
 * egin.cc/dc
 */

@import url('https://egin.cc/dc/base.css');
@import url('https://egin.cc/dc/sidebar.css');
@import url('https://egin.cc/dc/chat.css');
@import url('https://egin.cc/dc/members.css');
@import url('https://egin.cc/dc/inputs.css');
@import url('https://egin.cc/dc/voice.css');
@import url('https://egin.cc/dc/threads.css');
@import url('https://egin.cc/dc/settings.css');
@import url('https://egin.cc/dc/popouts.css');
